<header>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">New York</span>
        <span id="message-3" class="navbar-text">
            
        </span>
    </nav>
</header>